@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
body{
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
    background: url(/images/background.jpg);
}

#wrapper {
	max-width: 960px;
	margin: auto;
}

.message_container{
    height: 450px;
    width: 550px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    
    overflow: scroll;
    box-shadow: 0px 1px 1px #000;
    background-color: whitesmoke;
}

.ms_name{
    
    color: black;
}

.message_line{
    display: inline-block;
    min-height: 30px;
    margin-top: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: rgb(29, 108, 255);
}

.header{
    width: 960px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(36, 105, 46);
}

.right-sidebar{
    height: 505px;
    width: 200px;
    float: right;
    margin-top: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.left-sidebar{
    height: 505px;
    width: 200px;
    float: left;
    margin-top: 5px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.messageadd{
    position: fixed;
    top: 510px;
    left: 348px;
}
.sms{
    width: 400px;
    float: left;
}
.send{
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

textarea{
    resize: none;
    border: 1px solid whitesmoke;
    border-radius: 3px;
}

textarea::-webkit-input-placeholder { color: rgb(49, 47, 47); }